<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}

	{% include 'bike_donations/dependencies.html' %}

	<script src="{% static 'bike_donations/angular/JsBarcode.all.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'bike_donations/styles/printStyle.css' %}">

	<title>Print Label</title>
</head>
<body>
	<div id="wrapper">
		<div id="label">
			<img id="barcode"
				jsbarcode-format="ean13"
				jsbarcode-value="{{customSku}}"
				jsbarcode-height="40"
				jsbarcode-width="2"
			></img>

			<h2 id="cost">
				{% if Program %}
					Program
				{% elif price%}
					${{price}}
				{% endif %}
			</h2>
			{% if brand|length < 14 %}
		    	<h2 class="bike-info">{{type}}</h2>
		    {% endif %}
		    <h2 id="scaleFont" class="bike-info">{{brand}}</h2>
		    
		</div>
	</div>

	
	
	<div id="labelBackBtn" class="text-center">
		<button class="btn btn-success" onclick="window.print()">Print Label</button>
		<div class="row">
			<button id="helpBtn" class="btn btn-info">Help! The label is not printing</button>
		</div>
		<div id="helpText" class="row text-center" style="display: none;">
			<div class="row">
				<h1>Is the label very small?</h1>
				<h2>Press the print button again and wait a few seconds until the print layout screen shows the label in the correct format.</h5>
			</div>
			<div class="row">
				<h1>Is the printer not responding?</h1>
				<h2>Restart the printer. If restarting the printer doesn't work, restart your device.</h2>
			</div>
			<div class="row">
				<h1>Is the label missing information or not appearing?</h1>
				<h2>Please contact the dev team.</h2>
			</div>
		</div>

			<a href="/" class="btn btn-warning">Done</a>

	</div>



</body>
<script type="text/javascript">
	JsBarcode('#barcode').init()
</script>
<script type="text/javascript">
	$('#helpBtn').click(function(){
		$('#helpText').css('display', 'block');
	});
</script>
</html>
